@page "/customers/details"
@using Microsoft.EntityFrameworkCore
@using Erp.Domain.Models
@inject IDbContextFactory<Erp2025.Data.Erp2025Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Customer</h2>
    <hr />
    @if (customer is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@customer.Name</dd>
            <dt class="col-sm-2">Remarks</dt>
            <dd class="col-sm-10">@customer.Remarks</dd>
            <dt class="col-sm-2">ContactNo1</dt>
            <dd class="col-sm-10">@customer.ContactNo1</dd>
            <dt class="col-sm-2">ContactNo2</dt>
            <dd class="col-sm-10">@customer.ContactNo2</dd>
            <dt class="col-sm-2">Address1</dt>
            <dd class="col-sm-10">@customer.Address1</dd>
            <dt class="col-sm-2">Address2</dt>
            <dd class="col-sm-10">@customer.Address2</dd>
            <dt class="col-sm-2">Email1</dt>
            <dd class="col-sm-10">@customer.Email1</dd>
            <dt class="col-sm-2">Email2</dt>
            <dd class="col-sm-10">@customer.Email2</dd>
            <dt class="col-sm-2">CityId</dt>
            <dd class="col-sm-10">@customer.CityId</dd>
            <dt class="col-sm-2">CountryId</dt>
            <dd class="col-sm-10">@customer.CountryId</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@customer.CreatedBy</dd>
            <dt class="col-sm-2">CreatedOn</dt>
            <dd class="col-sm-10">@customer.CreatedOn</dd>
            <dt class="col-sm-2">LastEditBy</dt>
            <dd class="col-sm-10">@customer.LastEditBy</dd>
            <dt class="col-sm-2">LastEditOn</dt>
            <dd class="col-sm-10">@customer.LastEditOn</dd>
            <dt class="col-sm-2">IsArchived</dt>
            <dd class="col-sm-10">@customer.IsArchived</dd>
            <dt class="col-sm-2">IsPrivate</dt>
            <dd class="col-sm-10">@customer.IsPrivate</dd>
            <dt class="col-sm-2">IsActive</dt>
            <dd class="col-sm-10">@customer.IsActive</dd>
        </dl>
        <div>
            <a href="@($"/customers/edit?id={customer.Id}")">Edit</a> |
            <a href="@($"/customers")">Back to List</a>
        </div>
    }
</div>

@code {
    private Customer? customer;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        customer = await context.Customer.FirstOrDefaultAsync(m => m.Id == Id);

        if (customer is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
