@page "/itemtypes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Erp.Domain.Models
@using Erp2025.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Erp2025.Data.Erp2025Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="itemtypes/create">Create New</a>
</p>
<div class="mb-3">
    <label for="statusid" class="">StatusId:</label>
    <InputSelect id="statusid" class="form-control" @bind-value="selectedItemClassId">
        @foreach (var item in ItemTypeClasses)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </InputSelect>
</div>


<QuickGrid Class="table" Items="context.ItemType">
    <PropertyColumn Property="itemtype => itemtype.Name" />
    <PropertyColumn Property="itemtype => itemtype.Description" />
    <PropertyColumn Property="itemtype => itemtype.Remarks" />
    <PropertyColumn Property="itemtype => itemtype.Code" />
    <PropertyColumn Property="itemtype => itemtype.SortOrder" />
    <PropertyColumn Property="itemtype => itemtype.ItemTypeClassId" />

    <TemplateColumn Context="itemtype">
        <a href="@($"itemtypes/edit?id={itemtype.Id}")">Edit</a> |
        <a href="@($"itemtypes/details?id={itemtype.Id}")">Details</a> |
        <a href="@($"itemtypes/delete?id={itemtype.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Erp2025Context context = default!;
    private List<ItemTypeClass> ItemTypeClasses { get; set; } = new();
    private int selectedItemClassId { get; set; }

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        
        this.ItemTypeClasses = context.ItemTypeClass.ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
