@page "/refcountries/details"
@using Microsoft.EntityFrameworkCore
@using Erp.Domain.Models
@inject IDbContextFactory<Erp2025.Data.Erp2025Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>RefCountry</h2>
    <hr />
    @if (refcountry is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@refcountry.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@refcountry.Description</dd>
            <dt class="col-sm-2">Remarks</dt>
            <dd class="col-sm-10">@refcountry.Remarks</dd>
            <dt class="col-sm-2">Code</dt>
            <dd class="col-sm-10">@refcountry.Code</dd>
            <dt class="col-sm-2">SortOrder</dt>
            <dd class="col-sm-10">@refcountry.SortOrder</dd>
        </dl>
        <div>
            <a href="@($"/refcountries/edit?id={refcountry.Id}")">Edit</a> |
            <a href="@($"/refcountries")">Back to List</a>
        </div>
    }
</div>

@code {
    private RefCountry? refcountry;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        refcountry = await context.RefCountry.FirstOrDefaultAsync(m => m.Id == Id);

        if (refcountry is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
