@using Erp.Domain.Models

<h3>RecordInfo Component</h3>

<p>
    
</p>


<div>
    <h2>Contact</h2>
    <hr />
    @if (model is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@model.CreatedBy</dd>
            <dt class="col-sm-2">CreatedOn</dt>
            <dd class="col-sm-10">@model.CreatedOn</dd>
            <dt class="col-sm-2">LastEditBy</dt>
            <dd class="col-sm-10">@model.LastEditBy</dd>
            <dt class="col-sm-2">LastEditOn</dt>
            <dd class="col-sm-10">@model.LastEditOn</dd>
            <dt class="col-sm-2">IsArchived</dt>
            <dd class="col-sm-10">@model.IsArchived</dd>
            <dt class="col-sm-2">IsPrivate</dt>
            <dd class="col-sm-10">@model.IsPrivate</dd>
            <dt class="col-sm-2">IsActive</dt>
            <dd class="col-sm-10">@model.IsActive</dd>
        </dl>

        <div class="mb-3">
            <label for="isprivate" class="form-label">IsPrivate:</label>
            <InputCheckbox id="isprivate" @bind-Value="@model.IsPrivate" class="form-check-input" />
@*             <ValidationMessage For="() => @model.IsPrivate" class="text-danger" />
 *@     </div>


    }
</div>


@code {
    [Parameter]
    public Contact? model { get; set; }

    

}
