@page "/serviceitems/details"
@using Microsoft.EntityFrameworkCore
@using Erp.Domain.Models
@inject IDbContextFactory<Erp2025.Data.Erp2025Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>ServiceItem</h2>
    <hr />
    @if (serviceitem is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@serviceitem.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@serviceitem.Description</dd>
            <dt class="col-sm-2">Remarks</dt>
            <dd class="col-sm-10">@serviceitem.Remarks</dd>
            <dt class="col-sm-2">Code</dt>
            <dd class="col-sm-10">@serviceitem.Code</dd>
            <dt class="col-sm-2">SortOrder</dt>
            <dd class="col-sm-10">@serviceitem.SortOrder</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@serviceitem.CreatedBy</dd>
            <dt class="col-sm-2">CreatedOn</dt>
            <dd class="col-sm-10">@serviceitem.CreatedOn</dd>
            <dt class="col-sm-2">LastEditBy</dt>
            <dd class="col-sm-10">@serviceitem.LastEditBy</dd>
            <dt class="col-sm-2">LastEditOn</dt>
            <dd class="col-sm-10">@serviceitem.LastEditOn</dd>
            <dt class="col-sm-2">IsArchived</dt>
            <dd class="col-sm-10">@serviceitem.IsArchived</dd>
            <dt class="col-sm-2">IsPrivate</dt>
            <dd class="col-sm-10">@serviceitem.IsPrivate</dd>
            <dt class="col-sm-2">IsActive</dt>
            <dd class="col-sm-10">@serviceitem.IsActive</dd>
            <dt class="col-sm-2">ItemTypeId</dt>
            <dd class="col-sm-10">@serviceitem.ItemTypeId</dd>
            <dt class="col-sm-2">ItemStatusId</dt>
            <dd class="col-sm-10">@serviceitem.ItemStatusId</dd>
        </dl>
        <div>
            <a href="@($"/serviceitems/edit?id={serviceitem.Id}")">Edit</a> |
            <a href="@($"/serviceitems")">Back to List</a>
        </div>
    }
</div>

@code {
    private ServiceItem? serviceitem;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        serviceitem = await context.ServiceItem.FirstOrDefaultAsync(m => m.Id == Id);

        if (serviceitem is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
