@page "/refcities/details"
@using Microsoft.EntityFrameworkCore
@using Erp.Domain.Models
@inject IDbContextFactory<Erp2025.Data.Erp2025Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>RefCity</h2>
    <hr />
    @if (refcity is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@refcity.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@refcity.Description</dd>
            <dt class="col-sm-2">Remarks</dt>
            <dd class="col-sm-10">@refcity.Remarks</dd>
            <dt class="col-sm-2">Code</dt>
            <dd class="col-sm-10">@refcity.Code</dd>
            <dt class="col-sm-2">SortOrder</dt>
            <dd class="col-sm-10">@refcity.SortOrder</dd>
            <dt class="col-sm-2">CountryId</dt>
            <dd class="col-sm-10">@refcity.CountryId</dd>
            <dt class="col-sm-2">RefCountryId</dt>
            <dd class="col-sm-10">@refcity.RefCountryId</dd>
        </dl>
        <div>
            <a href="@($"/refcities/edit?id={refcity.Id}")">Edit</a> |
            <a href="@($"/refcities")">Back to List</a>
        </div>
    }
</div>

@code {
    private RefCity? refcity;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        refcity = await context.RefCity.FirstOrDefaultAsync(m => m.Id == Id);

        if (refcity is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
